<footer class="inq-footer">
  <div class="inq-footer-top">
    <div class="inq-footer-links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Careers</a>
      <a href="#">Legal Notices</a>
      <a href="#">Privacy</a>
      <a href="#">Archives</a>
      <a href="#">Sitemap</a>
      <a href="#">Special Reports</a>
    </div>
  </div>
  <div class="inq-footer-btm">
    &copy; 2024 Philadelphia Inquirer, LLC | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
  </div>
</footer>