<section class="newsletter-section">
    <div class="newsletter-header">
      <h2>Inquirer Newsletters</h2>
      <a href="/newsletters/" class="more-link">Sign Up</a>
    </div>
  
    <span class="newsletter-intro">
      Stay informed with our essential newsletters on a variety of topics, delivered straight to your inbox.
    </span>
  
    <div class="newsletter-grid">
      <div class="newsletter-card">
        <img src="https://placehold.co/760x507" alt="">
        <h3>The "ghosts" of Philly rowhouses | Morning Newsletter</h3>
        <span class="author">Paola Pérez</span>
      </div>
  
      <div class="newsletter-card">
        <img src="https://placehold.co/760x507" alt="">
        <h3>📺 Philly's TV spotlight | Morning Newsletter</h3>
        <span class="author">Paola Pérez</span>
      </div>
  
      <div class="newsletter-card">
        <img src="https://placehold.co/760x507" alt="">
        <h3>☀️ Kendrick starts the busy outdoor concert season | Things to Do</h3>
        <span class="author">Rosa Cartagena</span>
      </div>
  
      <div class="newsletter-card">
        <img src="https://placehold.co/760x507" alt="">
        <h3>What do you know about home design? | Real Estate Newsletter</h3>
        <span class="author">Michaelle Bond</span>
      </div>
    </div>
  </section>
  