<aside class="latest-sidebar">
    <h3>The Latest</h3>
    <ul>
      <li>
        <a href="#">Latest article headline placeholder 1</a>
        <span class="lat-time">3m ago</span>
      </li>
      <li>
        <a href="#">Latest article headline placeholder 2</a>
        <span class="lat-time">13m ago</span>
      </li>
      <li>
        <a href="#">Latest article headline placeholder 3</a>
        <span class="lat-time">24m ago</span>
      </li>
      <li>
        <a href="#">Latest article headline placeholder 4</a>
        <span class="lat-time">40m ago</span>
      </li>
      <li>
        <a href="#">Latest article headline placeholder 5</a>
        <span class="lat-time">1h ago</span>
      </li>
    </ul>
  </aside>