<div class="the-latest-container">
  <!-- Header -->
  <div class="the-latest-header">
    <span>The Latest</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" />
    </svg>
  </div>

  <!-- List -->
  <ul class="the-latest-list">
    <li class="the-latest-item">
      <a href="#" class="the-latest-link">The ‘ghosts’ of Philly rowhouses | Morning Newsletter</a>
      <span class="the-latest-time">an hour ago</span>
    </li>
    <li class="the-latest-item">
      <a href="#" class="the-latest-link">SEPTA subway train carrying hundreds of Broad Street runners loses power</a>
      <span class="the-latest-time">an hour ago</span>
    </li>
    <li class="the-latest-item">
      <div class="the-latest-label">Opinion</div>
      <a href="#" class="the-latest-link">Critical chronoception | Editorial Cartoon</a>
      <span class="the-latest-time">2 hours ago</span>
    </li>
    <li class="the-latest-item">
      <div class="the-latest-label">Opinion</div>
      <a href="#" class="the-latest-link">The hidden history behind a pair of former UArts buildings helps explain why they’re landmarks</a>
      <span class="the-latest-time">2 hours ago</span>
    </li>
    <li class="the-latest-item">
      <a href="#" class="the-latest-link">Downingtown may elect Pennsylvania’s first openly transgender mayor</a>
      <span class="the-latest-time">2 hours ago</span>
    </li>
    <li class="the-latest-item">
      <a href="#" class="the-latest-link">Carli Lloyd shares emotions at her Hall of Fame induction</a>
      <span class="the-latest-time">2 hours ago</span>
    </li>
    <li class="the-latest-item">
      <a href="#" class="the-latest-link">Daryl Morey has no regrets about the Al Horford trade</a>
      <span class="the-latest-time">2 hours ago</span>
    </li>
  </ul>
</div>
