.main-section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1.8rem;
    align-items: flex-start;
  }
  @media (max-width: 900px) {
    .main-section-content {
      flex-direction: column;
      gap: 1rem;
    }
  }