<!-- This component acts as a container, you render each section like below inside it: -->
<app-section-header title="NFL Draft"></app-section-header>
<div class="main-section-content">
  <app-story-card></app-story-card>
  <app-dense-story-list></app-dense-story-list>
</div>

<app-section-header title="The Region"></app-section-header>
<div class="main-section-content">
  <app-story-card></app-story-card>
  <app-story-card></app-story-card>
  <app-story-card></app-story-card>
  <app-dense-story-list></app-dense-story-list>
</div>
<!-- Add more sections following the same pattern -->