<header class="inq-header" [class.inq-header-scrolled]="isScrolled">
  <!-- Top line with date and quick links -->
  <div class="inq-header-row inq-header-top">
    <div class="inq-header-left">
      <div class="inq-hamburger">
        ☰
      </div>
      <div class="inq-header-date-links">
        <span class="inq-date">Sunday, April 27, 2025</span>
        <span class="inq-divider">|</span>
        <a href="#" class="inq-seclink"><b>Today's Paper</b></a>
        <span class="inq-divider">|</span>
        <a href="#" class="inq-seclink"><b>Newsletters</b></a>
      </div>
    </div>
    <div class="inq-header-actions">
      <a href="#" class="inq-signin">SIGN IN</a>
      <button class="inq-subscribe">SUBSCRIBE<br><span class="inq-offer">$1 for 6 months</span></button>
      <div class="inq-search">
        🔍
      </div>
    </div>
  </div>

  <!-- Centered logo -->
  <div class="inq-header-row inq-header-logo">
    <img src="https://ext.same-assets.com/1262791071/2563901416.svg" alt="The Philadelphia Inquirer" class="inq-logo" />
  </div>

  <!-- Navigation bar -->
  <nav class="inq-mainnav">
    <a href="#" class="inq-icon-link">
      ☰
    </a>
  
    <!-- Icona Search -->
    <a href="#" class="inq-icon-link">
      🔍
    </a>

    <a href="#" class="inq-navlink">NEWS</a>
    <a href="#" class="inq-navlink">SPORTS</a>
    <a href="#" class="inq-navlink">BUSINESS</a>
    <a href="#" class="inq-navlink">OPINION</a>
    <a href="#" class="inq-navlink">POLITICS</a>
    <a href="#" class="inq-navlink">ENTERTAINMENT</a>
    <a href="#" class="inq-navlink">LIFE</a>
    <a href="#" class="inq-navlink">FOOD</a>
    <a href="#" class="inq-navlink">HEALTH</a>
    <a href="#" class="inq-navlink">REAL ESTATE</a>
    <a href="#" class="inq-navlink">PHILLY FIRST</a>
    <a href="#" class="inq-navlink">OBITUARIES</a>
  </nav>
</header>
