<div class="newsletter-bar">
    <div class="newsletter-content">
      <div>
        <strong>Inquirer Newsletters</strong>
        <span class="newsletter-desc">
          Stay informed with our essential newsletters on a variety of topics, delivered straight to your inbox.
        </span>
      </div>
      <button class="newsletter-signup" disabled>Sign up (dummy)</button>
    </div>
    <div class="newsletter-cards">
      <div class="newsletter-card">
        <img src="https://dummyimage.com/150x100/ccc/343338&text=N1" alt="newsletter 1">
        <div>Newsletter Card 1</div>
      </div>
      <div class="newsletter-card">
        <img src="https://dummyimage.com/150x100/ccc/343338&text=N2" alt="newsletter 2">
        <div>Newsletter Card 2</div>
      </div>
      <div class="newsletter-card">
        <img src="https://dummyimage.com/150x100/ccc/343338&text=N3" alt="newsletter 3">
        <div>Newsletter Card 3</div>
      </div>
    </div>
  </div>